body{
    margin: 0;
    background-color: gray; 
}

h1{
    display: inline;
    font-weight: 900;
    vertical-align: middle;
}

#logo{
    height: 60px;
    vertical-align: middle;
}

.container{
    width: 2560px;
    height: 80px;
    background-color: white;
}




